.item1{
    position: absolute;
    top: 34%; 
    left: 23%;
    transition: ease-in-out 2s;
    color: white;
 
}
.item1 h1{
    font-weight: 900;
    font-size: 7rem;
}
#item3{
    position: absolute;
    top: 30%;
    width: 45%;
    height: 45%;
    right: 0;
    font-size: 3rem;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.3);
    transition: ease-in 1s;
}
#item3 h1{
    padding: 20px;
    font-weight: 400;
    font-size: 4rem;
}

#item2{
    position: absolute;
    top: 100px;
    width: 50%;
  
    right: 0;

}
#item2 #texttab{    
width: 90%;
    color: white;
}
.images #pc{
    position: absolute;
    z-index: 20;
    top: 25%;
    left: 20%;
    width: 40%;
    height: 60%;


}
.images #mobile{
    position: absolute;
    z-index: 25;
    top: 60%;
    left: 30%;
    width: 10%;
    height: 25%;


}
.images #tab{
    position: absolute;
    z-index: 25;
    top: 55%;
    left: 15%;
    width: 10%;
    height: 30%;


}
.images #laptop{
    position: absolute;
    z-index: 25;
    top: 40%;
    left: 45%;
    width: 40%;
    height: 50%;


}


/* output caroudal */

#outputcarousal{
    height: 100vh;
   margin-top: -2%;
    padding: 0;
    background-image: url('../assets/images/FINAL OUTPUT SECTION BACKGROUND.png');
    background-size: cover;
    background-repeat: no-repeat;

}