*{
    margin: 0;
    padding: 0;
}
body, html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}
#aboutus{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #48C7BA;
}
#aboutus .mycontainer{
   
    width: 80%;
    display: flex;
    height: 100%;
 
}

#aboutus .mycontainer .aboutushead{
    color: white;
    text-align: center;
    width: 20%;

}
#aboutus .mycontainer .aboutushead .aboutustext{
position: relative;
top: 50%;
width: 200%;
height: 10%;
transform: rotate(270deg);
margin-left: -100%;
}
#aboutus .mycontainer .aboutushead .aboutustext h1{
    font-weight: 900;
    font-size: 5rem;
    
    
}
#aboutus .mycontainer .mytext{
margin-top: 5%;
padding: 3%;
    width: 80%;
   
  
}
/* progree bar of the page */
/* #portfoilio{
    display: flex;
    justify-content: flex-end;
    height: 90vh;
    
}
#portfoilio .content{
    margin-top: 5%;
  
    width: 80%;
    
}
#portfoilio .content .portheading{
    position: relative;
    margin-left: 0px;

   padding-top: 300px;
    width: 30%;
    top: 30%;
    left: -400px;
    transform: rotate(270deg); 
    text-align: center;
}


#portfoilio .content .mater{
   margin-left: 100px;
   margin-right: 0px;
   margin-top: 0px;
width: 80%;
}
#portfoilio .content .mater img{
    width: 130%;
    height: 100%;
}

   */

/* line image */
#lineimg{
    position: absolute;
    top: 200vh;
    z-index: 25;
    width: 100%;
    height: 180%;

}
   /* output section */

   #outputsec{
       height: 100vh;
       padding: 0;

      
       display: flex;
       justify-content: flex-end;
       align-items: center;
   }

   #outputsec .parent{
       display: flex;
       width: 90%;
       height: 100%;
       
   }
   #outputsec .parent .textparent{
       width: 20%;
       height: 100%;
      
      
   }
   #outputsec .parent .textparent .textdiv{
      
       position: relative;
       margin-left: -140%;
       top: 30%;
       width: 300%;
       text-align: left;
       transform: rotate(270deg);
   }
   #outputsec .parent .textparent .textdiv h1{
       color: #48C7BA;
       font-weight: 900;
       font-size: 5rem;
   }

   #outputsec .parent .outputimage{
       width: 80%;
       display: flex;
       justify-content: flex-end;
       height: 100%;
    
   }
   #outputsec .parent .textdiv{
      
   }
   #outputsec .parent .outputimage img{
       padding-top: 5%;
       width: 90%;
       height: 120%;
   }
   #contactus {
       background-image: url('../assets/images/CONTACT US SECTION  BACKGROUND.png');
       background-repeat: no-repeat;
       background-size: cover;
   }


