.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100vw;
    height: 11vh;
    background-image: url('../assets/images/HEADER TOP.png');
    background-size: cover;
    background-repeat: no-repeat;
    
   
}
.navbar-nav .nav-item .nav-link{
   
    margin-bottom: 30px;
    
}
#hclogo{
    position: fixed;
    top: 8vh;
    z-index: 40;
    left: 30px;
    width: 22%;
    height: 11%;
}
#hcicon{
    position: fixed;
    top: 0;
    z-index: 50;
    left: 0px;
    width: 15%;
    height: 25%;
}