.card{
text-align: center;
    border: none;
}
.card img{
    width: 20%;
    height: 20%;
    margin: auto;
}
.card .card-body a button{
   padding: 5px;
   outline: none;
   outline: none;
   background-color: white;
   border-color:rgba(0, 0, 0, 0.3);
   border-radius: 15px;
  
} 